body {
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(
        to left,
        rgba(177, 144, 177, 0.600),
        rgba(74, 63, 74, 0.400)),
    url(../background.jpg);
    background-size: cover;
}

h1 {
    background: #543b89;
    color: #fff;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#container {
    margin: 100px auto;
    width: 360px;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    background: #f7f7f7;  
}

li {
    background: #fff;
    height: 40px;
    line-height: 40px;/*to make it take all the place of the cell*/
    color:#666;
}

span {
    background: #e74c3c;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    color: #fff;
    width: 0;
    display: inline-block; /*span isn't block, width will not apply*/
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear; /*make transition on the element*/
    opacity: 0; /*otherwise we see the white trash icon*/
}

input[type="text"]{
    font-size: 18px;
    background: #f7f7f7;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    color: #543b89;
    border: 3px solid rgba(0,0,0,0); /*will give an invisible border*/
}

input[type="text"]:focus {
    background: #fff;
    border: 3px solid #543b89;
}

::-webkit-input-placeholder{
    color:lightgrey; 
}

.fa-pencil-square-o {
    float: right;
    vertical-align: 50px;
    display: inline-block;
}

li:nth-child(2n){ /*every second*/
    background: #f7f7f7;
}

.showSpan {
    width: 40px;
    opacity: 1.0;
}
.completed {
    color: gray;
    text-decoration: line-through;
}







